<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - {{ config["APPNAME"] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core/base.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen/screen-PAGE-layout.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen/typography.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation/hlist.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body><div class="ym-wrapper"><div class="ym-wbox">
        <header>
            <h1>{{ config["APPNAME"] }}</h1>
            <div class="subtitle">A listing of public XMPP/Jabber chat rooms.</div>
        </header>
        <nav id="nav-main" class="ym-hlist">
            <ul>
                {%- for item in current_menu.children %}
                <li class="{{ 'active' if item.active else ''}}"><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endfor -%}
            </ul>
        </nav>
        <main>{% block body %}
            <h2>{{ title }}</h2>
            {% block content %}{% endblock %}
        {% endblock %}</main>
        <footer id="footer-main">
            <ul>
                <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
                <li><a href="{{ url_for('contact') }}">Imprint / Contact</a></li>
            </ul>
        </footer>
    </div></div></body>
</html>
