{%- macro menu_item(item, caller=None) -%}
<li class="{{ 'active' if item.active else ''}}">
    {%- if item.active -%}
    <span>{{ item.text }}</span>
    {%- else -%}
    <a href="{{ item.url }}">{{ item.text }}</a>
    {%- endif -%}
</li>
{%- endmacro -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - {{ config["APPNAME"] }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core/base.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen/screen-PAGE-layout.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen/typography.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation/hlist.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms/gray-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body><div class="ym-wrapper"><div class="ym-wbox">
        <header>
            <h1><a href="{{ url_for('index') }}">Public Jabber Chat rooms</a></h1>
            <div class="subtitle">{{ config["APPNAME"] }}: A listing of public XMPP/Jabber chat rooms/groups.</div>
        </header>
        <nav id="nav-search" class="ym-hlist">
            <form class="searchbox" name="searchbox" method="GET" action="{{ url_for('search') }}">
                <input type="text" name="q" placeholder="Search for a room..."/>
                <input type="submit" value="Go"/>
            </form>
        </nav>
        <main>{% block body %}
            <h2>{{ title }}</h2>
            {% block content %}{% endblock %}
        {% endblock %}</main>
        <nav id="nav-footer">
            <ul>
                {%- for submenu in current_menu.children -%}
                <li>{{ '' -}}
                    <h6>{{ submenu.text }}</h6>
                    <ul>
                        {%- for item in submenu.children -%}
                        {% call menu_item(item) %}{% endcall %}
                        {%- endfor -%}
                    </ul>{{ '' -}}
                </li>
                {%- endfor -%}
            </ul>
        </nav>
        <footer id="footer-main">
            <p>
                Made with <a href="http://yaml.de">the award-winning YAML CSS Framework</a>, <a href="http://flask.pocoo.org/">Flask</a> and <a href="https://github.com/horazont/aioxmpp">aioxmpp</a>. Licensed under <a href="https://www.gnu.org/licenses/agpl.html">AGPLv3+</a>. <a href="https://github.com/horazont/muchopper">View the source</a> on GitHub.
            </p>
        </footer>
    </div></div></body>
</html>
