{% extends "base.html" %}
{% from "library.tpl" import copyable_thing %}
{% block head_includes %}
{{ super() }}
{% include "copy-snippet.html" %}
{% endblock %}
{% set title = "Frequently Asked Questions" %}
{% macro get_in_touch(caller=None) %}<a href="{{ url_for('contact') }}">get in touch</a>{% endmacro %}
{% block content %}
<article>
  <p>Here’s a quick Q/A style documentation to get you started.</p>

  <h3>Why is my room not listed?</h3>
  <p>We can only list rooms we know about. We auto-discover rooms on any domain
  we know, but if you run your own domain, we might not know about it yet.
  Invite {% call copyable_thing() %}{{ config['APPJID'] }}{% endcall %} to your
  room. Note that it won’t join the room, but merely add it to the queue for
  scanning.</p>
  <p>Also note that we do not list rooms which exist in other chat networks,
  such as Matrix or Telegram. This service is intended to list rooms in the
  Jabber network, not in third-party networks. (Though we might list gateways
  for use from Jabber in the future.)</p>

  <h3>I invited the bot, but my room is still not listed.</h3>
  <p>Re-try inviting. If it does not work after more than three hours, {% call get_in_touch() %}{% endcall %}.</p>

  <h3>Why is my room/domain not listed anymore?</h3>
  <p>Are other rooms from the same domain listed? If yes, double-check the
  listing criteria as detailed in the
  <a href="{{ url_for('owners') }}">documentation for owners</a>.</p>
  <p>If no other rooms from the same domain are listed, it is possible that we
  lost contact to the domain for more than seven days (re-trying every hour or
  every six hours). In that case, we drop the domain off our database. You
  might be able to get your room listed again by inviting the bot as
  normal.</p>
  <p>If re-inviting does not work, please
  {% call get_in_touch() %}{% endcall %}.</p>

  <h3>Why is my room’s avatar not shown?</h3>
  <p>Only avatars from rooms on a white list are shown. The white list exists
  to protect the service against abuse. To get on the white list, please {% call get_in_touch() %}{% endcall %}.</p>

  <h3>My room is on the white list, but the avatar is still not shown.</h3>
  <p>Please ensure that you are following the restrictions on avatars as
  described in <a href="{{ url_for('owners') }}">the documentation for room
  owners.</a></p>
  <p>Avatars must be published via the <a href="https://xmpp.org/extensions/xep-0054.html">vcard-temp</a> protocol (yeah... I know).</p>
  <p>If you think that your avatar fulfills these criteria, {% call get_in_touch() %}{% endcall %} to hunt down the issue.</p>
</article>
{% endblock %}
