{% extends "base.html" %}
{% set title = "Documentation for Service Operators" %}
{% macro appname() %}<em>{{ config["APPNAME"] }}</em>{% endmacro %}
{% block content %}
<article>
    <h3>Domain listing criteria</h3>
    <p>There are no criteria for a domain to be included in the crawl, except that we need to know about it. If rooms from your domain are not listed and you want them to be listed, follow the instructions in the <a href="{{ url_for('owners') }}">documentation for owners</a> to get a public room from your domain listed. The next crawl will then include all rooms published by your service.</p>
    <p>If rooms from your domain are still not included, ensure that your service actually does list public rooms in a <code>disco#items</code> request as per <a href="https://xmpp.org/extensions/xep-0045.html#disco-rooms">the relevant section in XEP-0045 (Multi User Chat)</a>. If you are sure this is the case and your rooms have not been included in the listing 24 hours after your invitation, please <a href="{{ url_for('contact') }}">get in touch</a>.</p>
    <h3><a name="delisting"></a>Domain delisting</h3>
    <p>If you are the owner of a domain and want it to be <em>completely</em> excluded from the listing, please <a href="{{ url_for('contact') }}">get in touch</a>. Be prepared to provide proof that you are the owner of the domain. A good (zero-roundtrip) way to do so is to contact us from an XMPP address which is listed in your service’s <a href="https://xmpp.org/extensions/xep-0157.html">contact addresses</a>.</p>
    <p>Domains which have not been reachable for more than seven days will be delisted automatically, including all of their rooms.</p>
    <h3>Traffic</h3>
    <p>We crawl all known domains for public rooms approximately once per hour. In addition, we query all rooms we know for their meta-information in a similar rhythm. We rate-limit our requests and shuffle the list of rooms to spread the load evenly across the time window.</p>
    <p>If you still find that we cause too much traffic on your domain, please get in touch (see above). We can work out to reduce the frequency for your domain or apply other means.</p>
    <h3>Features</h3>
    <p>In order to provide your room owners with optimal integration, we suggest that you update your server software to the latest release. Below is a table of features and the required server software versions (to the best of our knowledge):</p>
    <table class="features">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Prosody</th>
                <th>ejabberd</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><div class="feature-name">Persistent rooms</div><div class="feature-id"><code>muc#roomconfig_persistentroom</code> option, <code>muc_persistent</code> flag</div></th>
                <td>supported</td>
                <td>supported</td>
            </tr>
            <tr>
                <th><div class="feature-name">Public rooms</div><div class="feature-id"><code>muc#roomconfig_publicroom</code> option, <code>muc_public</code> flag</div></th>
                <td>supported</td>
                <td>supported</td>
            </tr>
            <tr>
                <th><div class="feature-name">Name and description</div><div class="feature-id"><code>muc#roomconfig_roomname</code> option, <code>muc#roomconfig_roomdesc</code> option</div></th>
                <td>supported</td>
                <td>supported</td>
            </tr>
            <tr>
                <th><div class="feature-name">Room language</div><div class="feature-id"><code>muc#roomconfig_lang</code> option</div></th>
                <td><ul><li>≥0.10, &lt;0.11: with <a href="https://modules.prosody.im/mod_muc_lang.html" rel="nofollow"><code>mod_muc_lang</code></a></li><li>≥0.11: supported</li></ul></td>
                <td>≥18.06</td>
            </tr>
            <tr>
                <th><div class="feature-name">View logs</div><div class="feature-id"><code>muc#roominfo_logs</code> info field</div></th>
                <td>server-wide with <a href="https://modules.prosody.im/mod_http_muc_log.html"><code>mod_http_muc_log</code></a></td>
                <td>unsupported</td>
            </tr>
            <tr>
                <th><div class="feature-name">Join using browser</div><div class="feature-id"><code>muc#roominfo_webchat_url</code> info field</div></th>
                <td>server-wide with <a href="https://modules.prosody.im/mod_muc_webchat_url.html" rel="nofollow"><code>mod_muc_webchat_url</code></a></td>
                <td>unsupported</td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}
