{% extends "base.html" %}
{% from "library.tpl" import icon %}
{% set title = "Legal notes & Contact" %}
{% macro appname() %}<em>{{ config["APPNAME"] }}</em>{% endmacro %}
{% block content %}
<h3>Contact</h3>
<p>If you have questions, suggestions, a problem with {{ appname() }} or want to get in contact for another reason, feel free to contact:</p>
<p>Jonas Schäfer<br/>via Jabber: <a href="xmpp:jonas@wielicki.name">jonas@wielicki.name</a><br/>via Email: <a href="mailto:jonas@wielicki.name">jonas@wielicki.name</a></p>
<p>You can use English or German for your requests. When contacting via Jabber, <strong>do not use OMEMO</strong>, my clients do not support it, despite what your client may claim. For encrypted requests please use GPG-encrypted email. You can find my GPG key for example <a href="https://sks-keyservers.net/pks/lookup?op=get&search=0xE5EDE5AC679E300F">on the SKS Keyservers</a>.</p>
<p>You may also <a href="https://github.com/horazont/muchopper/issues/new">create an issue on GitHub</a>.</p>
<h3>Legal notes</h3>
<h4>Licenses</h4>
<p>This software is licensed under the terms of the GNU Affero General Public License Version 3 or later.</p>
<p>The full terms of the license can be reviewed on <a href="https://www.gnu.org/licenses/agpl.html">the AGPLv3+ license page</a> (external link to GNU).</p>
<p>The source code of this software is available on <a href="https://github.com/horazont/muchopper">GitHub in the muchopper repository</a>.</p>
<h5>Material Icons</h5>
<p>Some icons are Material Icons created by Google and are licensed under the terms of the Apache License Version 2.0.</p>
<p>The full terms of the license can be reviewed on <a href="https://apache.org/licenses/LICENSE-2.0">the Apache 2.0 license page</a> (external link to Apache).</p>
<p>The affected icons are:</p>
<ul>
	<li>{% call icon('users') %}{% endcall %}: Number of users</li>
	<li>{% call icon('search') %}{% endcall %}: Search magnifying glass</li>
	<li>{% call icon('join') %}{% endcall %}: Join a chat</li>
	<li>{% call icon('history') %}{% endcall %}: View chat history</li>
	<li>{% call icon('lang1') %}{% endcall %}: Language indicator</li>
</ul>
<p>More information about the Material Icons is available on the <a href="https://material.io/resources/icons/?style=baseline">Material Icons website</a>.</p>
<h5>YAML CSS Framework</h5>
<p>This web application uses the <a href="http://www.yaml.de/">YAML CSS framework</a>. The YAML CSS framework is licensed under CC-BY 2.0.</p>
<p>The full terms of the Creative Commons Attribution 2.0 License (CC-BY 2.0) can be reviewed on <a href="http://creativecommons.org/licenses/by/2.0/">the CC-BY 2.0 license page</a> (external link to Creative Commons).</p>
<h5>Flask</h5>
<p>This application is powered by the <a href="https://palletsprojects.com/p/flask/">Flask web framework</a>, Copyright 2010 Pallets.</p>
<p>The full license can be reviewed on <a href="https://flask.palletsprojects.com/en/1.1.x/license/">the Flask license page</a> (external link to Flask).</p>
{% endblock %}
