{% extends "base.html" %}
{% set title = "Privacy Policy" %}
{% macro appname() %}<em>{{ config["APPNAME"] }}</em>{% endmacro %}
{% block content %}
<h3>I don’t want my room to be listed here!</h3>
<p>Please refer to the <a href="{{ url_for('owners') }}#delisting">documentation for owners</a>.</p>

<h3>Data Processing</h3>
<p>{{ appname() }} collects and stores information about chat rooms and domains in the Jabber/XMPP network. In this document, we will refer to these rooms as <em>MUCs</em> (short for "Multi-User Chats"). Only data of persistent MUCs is stored.</p>
<h4>Data associated with Chat Rooms</h4>
<p>The following data is collected and stored about a MUC:</p>
<ul>
    <li>Its identifying address (Jabber ID, JID).</li>
    <li>The number of users last seen online in the MUC, as well as a moving average over this number.</li>
    <li>The timestamp of the last message seen in the MUC (if available).</li>
    <li>Whether the MUC can be joined into by everybody (<code>muc_open</code> flag and not <code>muc_passwordprotected</code> flag).</li>
    <li>Whether the MUC shall be publicly listed (<code>muc_public</code> flag)</li>
    <li>The timestamp of the last time {{ appname() }} successfully made contact with the MUC</li>
</ul>
<p>In addition, for publicly listed MUCs, the following data is stored:</p>
<ul>
    <li>The room description (if available).</li>
    <li>The room name (if available).</li>
    <li>The current room subject (if available).</li>
    <li>The room language (if available).</li>
</ul>
<p>If a room was delisted at our discretion, as described in the <a href="{{ url_for('owners') }}#delisting">documentation for owners</a>, or due to other reason, we store its address in a blacklist (legitimate interest under Art 6.1f).</p>

<h4>Data associated with domains</h4>
<p>For domains / services, {{ appname() }} collects and stores:</p>
<ul>
    <li>The domain name</li>
    <li>The timestamp of last successful contact</li>
    <li>The <a href="https://xmpp.org/extensions/xep-0030.html">XEP-0030</a> identities advertised by the domain</li>
    <li>The <a href="https://xmpp.org/extensions/xep-0092.html">XEP-0092</a> software version information advertised by the domain</li>
</ul>
<p>If a domain was delisted on our discretion, as described in the <a href="{{ url_for('operators') }}#delisting">documentation for operators</a>, or due to any other reason, we store it in a blacklist (legitimate interest under Art 6.1f).</p>

<h4>Data obtained on the website</h4>
<p>To ensure the correct operation of our services, we log requests made to the web service. This information is stored for up to 7 days. This is in line with Art. 6.1f with Recital 49 of the EU General Data Protection Regulation (EU-GDPR). The information we collect under these terms is:</p>
<ul>
    <li>Time of request</li>
    <li>Which resource was requested (e.g. listing, search (including search terms), API request)</li>
    <li>Full IP address of requester</li>
    <li>Browser and OS version as reported by the browser</li>
    <li>Size of the response</li>
    <li>Status code (indication of success, failure and special conditions)</li>
    <li>The amount of time it took to process the request</li>
</ul>
<p>We delete this data after at most 7 days. We generally do not process this data further unless we have an additional legitimate reason (such as suspicion of an attack on our services).</p>
<p>Search terms sent to the search API are not stored.</p>

<h3>Data Sharing</h3>
<p>{{ appname() }} allows anyone to query all information it has stored about publicly listed MUCs. This is the information seen on this website.</p>
<p>This is merely a convenience service, since Jabber services already expose publicly listed MUCs in directories central to their domain.</p>

<h3>Your rights</h3>
<p>Under the EU-GDPR, you have the right to request whether we process data of you, and which data we process (Art. 15). If you are concerned about whether your room is contained in our database, please first try to use the search function of the web service, to save us both some time. If your room is not found via the search function it is still possible that it is included as "non public" in our database (to observe it in case it should change that status in the future). You can request that information about that at the contacts below. If you want to obtain the information stored about you in our web server logs, you would have to provide us with information to identify your information in our logs and then contact us.</p>
<p>You have the right to rectification (Art. 16). You can rectify all data we store about your rooms yourself by using your Jabber client. There is no rectifiable personal data in our web server logs.</p>
<p>You have the right to erasure (Art. 17). The <a href="{{ url_for('owners') }}#delisting">documentation for owners</a> provides information about which rooms are listed and how to get a room de-listed. You cannot have your data erased from our web server logs, since we keep those under Art. 6.1f (legitimate interest via Recital 49) and thus they do not qualify for Art. 17, and in case of attacks we might need to keep the data under Art. 17.3.</p>
<p>You have the right to data portability (Art. 20). The room data is publicly available in machine readable format (see <a href="{{ url_for('developers') }}">documentation for developers</a>). The web server logs are not under Art. 6.1(a) or 9.2(a) or 6.1(b), so we are not obliged to provide portability for those (we are not allowed to share them anyways because they may contain PII of other users).</p>
<p>You have the right to object to processing (Art. 21). You can have your rooms de-listed as described in <a href="{{ url_for('owners') }}#delisting">documentation for owners</a> (if you are the owner of a room) or <a href="{{ url_for('operators') }}#delisting">documentation for operators</a> (if you are the operator of a domain which you want to have delisted). For further objections please refer to the contacts below.</p>

<h3>Representative</h3>
<p>The representative for all purposes of data protection is:</p>
<p>Jonas Schäfer<br/>E-mail: <a href="mailto:jonas@wielicki.name">jonas@wielicki.name</a><br/>Jabber: <a href="xmpp:jonas@wielicki.name">jonas@wielicki.name</a></p>
{% endblock %}
