{% extends "listing_base.html" %}
{% from "library.tpl" import room_table %}
{% set title = "All rooms" %}
{% macro pagination() %}
<nav class="pagination" role="navigation" aria-label="Pagination Navigation">
	<ul>
	{%- if page.has_prev %}<li class="prev"><a href="{{ url_for('room_list', pageno=page.page-1) }}" aria-label="Previous page"><span>Previous page</span></a>{% endif -%}
	{%- for pageno, insert_skip in visible_pages -%}
	{%- set is_current = pageno == page.page -%}
	{%- if insert_skip -%}
	<li aria-label="several pages omitted">...</li>
	{%- endif -%}
	<li class="{{ 'current' if is_current else '' }}"><a href="{{ url_for('room_list', pageno=pageno) }}" aria-label="{% if is_current %}Page {{ pageno }}, current page{% else %}Page {{ pageno }}{% endif %}" {% if is_current %}aria-current="true"{% endif %}>{{ pageno }}</a></li>
	{%- endfor -%}
	{%- if page.has_next %}<li class="next"><a href="{{ url_for('room_list', pageno=page.page+1) }}" aria-label="Next page"><span>Next page</span></a>{% endif -%}
	</ul>
</nav>
{% endmacro %}
{% block content %}
{{ pagination() }}
{% call room_table(page.items) %}{% endcall %}
{{ pagination() }}
{% endblock %}
