{% extends "base.html" %}
{% from "library.tpl" import room_table %}
{% set title = "Chat room index" %}
{% macro pagination() %}
<nav class="pagination">
    <ul>
    {%- if page.has_prev %}<li class="prev"><a href="{{ url_for('room_list', page=page.page-1) }}">Previous page</a>{% endif -%}
    {%- for pageno, insert_skip in visible_pages -%}
    {%- if insert_skip -%}
    <li>...</li>
    {%- endif -%}
    <li class="{{ 'current' if pageno == page.page else '' }}"><a href="{{ url_for('room_list', page=pageno) }}">{{ pageno }}</a></li>
    {%- endfor -%}
    {%- if page.has_next %}<li class="next"><a href="{{ url_for('room_list', page=page.page+1) }}">Next page</a>{% endif -%}
    </ul>
</nav>
{% endmacro %}
{% block content %}
{{ pagination() }}
{% call room_table(page.items) %}{% endcall %}
{{ pagination() }}
{% endblock %}
