{% extends "listing_base.html" %}
{% from "library.tpl" import room_table %}
{% set title = "All rooms" %}
{% if page.page == 1 %}
{% set autofocus_search = True %}
{% endif %}
{% macro pagination() %}
<nav class="pagination" role="navigation" aria-label="Pagination Navigation">
	<ul>
	{%- if page.has_prev %}<li class="prev"><a href="{{ url_for('room_list', pageno=page.page-1) }}" aria-label="Previous page" rel="prev"><span>Previous page</span></a>{% endif -%}
	{%- for pageno, insert_skip in visible_pages -%}
	{%- set is_current = pageno == page.page -%}
	{%- if insert_skip -%}
	<li aria-label="several pages omitted">...</li>
	{%- endif -%}
	<li class="{{ 'current' if is_current else '' }}"><a href="{{ url_for('room_list', pageno=pageno) }}" aria-label="{% if is_current %}Page {{ pageno }}, current page{% else %}Page {{ pageno }}{% endif %}" {% if is_current %}aria-current="true"{% endif %}>{{ pageno }}</a></li>
	{%- endfor -%}
	{%- if page.has_next %}<li class="next"><a href="{{ url_for('room_list', pageno=page.page+1) }}" aria-label="Next page" rel="next"><span>Next page</span></a>{% endif -%}
	</ul>
</nav>
{% endmacro %}
{% block head_includes %}
{{ super() }}
<link rel="canonical" href="{{ url_for('room_list', pageno=page.page) }}">
{% if page.page == 1 %}
<meta name="description" content="The top {{ page.items | length }} public chat rooms on Jabber.">
{# only show this on the home page #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ url_for('index', _external=True) }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ url_for('search', _external=True) }}?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{% else %}
<meta name="description" content="Page {{ page.page }} of public Jabber chat rooms.">
{% endif %}
{% endblock %}
{% block content %}
{{ pagination() }}
{% call room_table(page.items) %}{% endcall %}
{{ pagination() }}
{% endblock %}
