{% extends "listing_base.html" %}
{% from "library.tpl" import room_table %}
{% set title = "Search" %}
{% block content %}
<form method="GET" class="ym-form">
    <div class="ym-fbox ym-fbox-text">
        <label for="keywords">Search terms<sup class="ym-required">*</sup></label>
        <input id="keywords" type="text" name="q" value="{{ orig_keywords }}" required="required"/>
        <input type="hidden" name="f" value="y"/>
    </div>
    <div class="ym-fbox ym-fbox-check">
        <div class="ym-fbox-wrap">
            <div class="ym-fbox-check"><input type="checkbox" id="search_address" name="sinaddr" {{ 'checked' if search_address else '' }}/><label for="search_address">Search in addresses</label></div>
            <div class="ym-fbox-check"><input type="checkbox" id="search_description" name="sindescr" {{ 'checked' if search_description else '' }}/><label for="search_description">Search in description</label></div>
            <div class="ym-fbox-check"><input type="checkbox" id="search_name" name="sinname" {{ 'checked' if search_name else '' }}/><label for="search_name">Search in name</label></div>
        </div>
    </div>
    <div class="ym-fbox-footer ym-fbox-button">
        <button class="ym-button ym-primary ym-search" type="submit">Search</button>
    </div>
</form>
{% if no_keywords %}
<p class="box error">
    <strong>No search keywords found in input.</strong> Note that words with less than three codepoints are ignored. Spaces at the beginning and end of a word are ignored.
</p>
{% endif %}
{% if too_many_keywords %}
<p class="box error">
    <strong>Too many keywords in input.</strong> Currently, there is a limit on the number of keywords allowed in a single search. Reduce the number of keywords used.
</p>
{% endif %}
{% if results is not none %}
{% if results %}
<h3>Results</h3>
{% call room_table(results, keywords) %}{% endcall %}
{% else %}
<p class="box warning">
    <strong>No results for search terms:</strong> {{ keywords | join(", ")}}.
</p>
{% endif %}
{% endif %}
{% if too_many_results %}
<p class="box warning">
    <strong>Too many results.</strong> Search results are limited to {{ results | length }} items for now.
</p>
{% endif %}
{% endblock %}
