{% from "library.tpl" import icon %}
{%- macro menu_item(item, caller=None) -%}
<li class="{{ 'active' if item.active else ''}}">
	{%- if item.active -%}
	<span>{{ item.text }}</span>
	{%- else -%}
	<a href="{{ item.url }}">{{ item.text }}</a>
	{%- endif -%}
</li>
{%- endmacro -%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }} - {{ config["APPNAME"] }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if config["NOINDEX"] %}
		<!-- Enabled via NOINDEX config option. -->
		<meta name="robots" content="noindex">
		{% else %}
		<meta name="robots" content="noimageindex">
		{% endif %}
		{% block head_includes %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core/base.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen/typography.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		{% endblock %}
	</head>
	<body class="no-copy">{% include "icons.html" %}<div class="ym-wrapper"><div class="ym-wbox">
		{% block header %}
		<form name="search" rel="search" method="GET" action="{{ url_for('search') }}"><header id="main" class="slim">
			<h1><a href="{{ url_for('index') }}">{% include "icon.svg" %}{{ config["APPNAME"] }}</a><div class="subtitle">Chat Room Search Engine</h1>
			<div class="searchbox" id="searchbox">{#- -#}
				<div class="searchbox-primary">{#- -#}
					<label class="a11y-text" for="q-field">Search keywords: </label>
					<input type="text" name="q" id="q-field" placeholder="Search rooms" value="{{ orig_keywords | default('') }}">{#- -#}
					<button type="submit" aria-label="Search">{% call icon('search') %}{% endcall %}</button>{#- -#}
				</div>{#- -#}
				{%- block searchbox_ext %}{% endblock -%}
			</div>
			<div class="expand"></div>
		</header></form>
		{% endblock %}
		<main>{% block body %}{% endblock %}</main>
		<h2 class="a11y-text">Navigation</h2>
		<nav id="nav-footer" role="navigation">
			<ul>
				{%- for submenu in current_menu.children -%}
				<li>{{ '' -}}
					<h3>{{ submenu.text }}</h3>
					<ul>
						{%- for item in submenu.children -%}
						{% call menu_item(item) %}{% endcall %}
						{%- endfor -%}
					</ul>{{ '' -}}
				</li>
				{%- endfor -%}
			</ul>
		</nav>
		<footer id="footer-main">
			<p>
				Made with <a href="http://yaml.de">the award-winning YAML CSS Framework</a>, <a href="http://flask.pocoo.org/">Flask</a> and <a href="https://github.com/horazont/aioxmpp">aioxmpp</a>. Licensed under <a href="https://www.gnu.org/licenses/agpl.html">AGPLv3+</a>. <a href="https://github.com/horazont/muchopper">View the source</a> on GitHub. <a href="{{ url_for('legal') }}">More information about legal aspects</a>.
			</p>
		</footer>
	</div></div></body>
</html>
