{% extends "base.html" %}
{% set title = "Statistics" %}
{% from "library.tpl" import appname %}
{% block content %}
<h3 id="network">Network statistics</h3>
<table>
    <thead>
        <tr>
            <th>Metric</th>
            <th>Value</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tr>
        <th>Chat rooms</th>
        <td class="numeric">{{ nmucs }}</td>
        <td>Includes all persistent rooms known (public/non-public and open/non-open)</td>
    </tr>
    <tr>
        <th>Public rooms</th>
        <td class="numeric">{{ npublicmucs }}</td>
        <td>Only publicly listed rooms</td>
    </tr>
    <tr>
        <th>Open rooms</th>
        <td class="numeric">{{ nopenmucs }}</td>
        <td>Only rooms which can be joined without password/invitation</td>
    </tr>
    <tr>
        <th>Hidden rooms</th>
        <td class="numeric">{{ nhiddenmucs }}</td>
        <td>Publicly listed MUCs where owners have requested de-listing from this directory</td>
    </tr>
    <tr>
        <th>Total users</th>
        <td class="numeric">{{ nusers }}</td>
        <td>Total number of users in all MUCs. Since we do not (and can not) track the real identities of users, this most certainly includes duplicates.</td>
    </tr>
    <tr>
        <th>Domains</th>
        <td class="numeric">{{ ndomains }}</td>
        <td>Number of domains known; this includes non-MUC service domains and usually a single XMPP service has multiple domains (e.g. a base domain and a MUC service domain).</td>
    </tr>
</table>
<h3 id="software">Software statistics</h3>
<table>
    <thead>
        <tr>
            <th>Software name</th>
            <th>Absolute occurences</th>
            <th>Relative occurences</th>
        </tr>
    </thead>
    {% for name, abs_occ in softwares %}
    <tr>
        <td>{{ name }}{% if name == "Christopher Muclumbus" %} <a href="#footnote-1" class="footnote-ref">(1)</a>{% endif %}</td>
        <td class="numeric">{{ abs_occ }}</td>
        <td class="numeric">{{ "%.0f" | format(abs_occ / total_software_info * 100) }}%</td>
    </tr>
    {% endfor %}
</table>
<p>Footnotes:</p>
<ol class="footnotes">
    <li id="footnote-1">So some people apparently find it useful to host "echo" services which simply reflect the query back to the sender. They act like a mirror. So when {{ appname() }} asks them for the software they’re running, it effectively asks itself without knowing that it does that. That’s what those "{{ appname() }}" entries are.</li>
</ol>
{% endblock %}
