{% extends "base.html" %}
{% set title = "Terms of Service" %}
{% block content %}
<p><strong>This service is provided as-is. We cannot provide guarantees about the completeness, correctness, availability or any other property of the data herein.</strong></p>
<p>We do operate this service in our free time. The goal is to provide a usable list of public rooms. Thus, we may, at our discretion, remove rooms from the listing we deem counter-productive to this goal. Due to the maintenance overhead of such a decision, we won’t do this lightly.</p>
<div class="box">
	<p><strong>Examples of rooms we may blocklist:</strong></p>
	<ul>
		<li>A room which has a description which is obviously planning to deface public listings.</li>
		<li>A room or group of rooms or a domain which pushes its ranking with the use of many automated entities or fake information.</li>
	</ul>
</div>
<h3 id="listing-policy">Listing policy</h3>
<p>The goal of this listing is to provide an index of fun, informative, enlightening and/or inspiring rooms. Rooms which provide such environments are considered in scope for the listing. Places which do not fulfill those criteria are considered <a href="#out-of-scope"><em>out of scope</em></a> and will be removed from the listing.</p>
<p>We give rooms the benefit of a doubt. Hence, all rooms we can discover are included in the listing automatically. If rooms, however, are found to fall in the <em>out of scope</em> category, they are elegible to be removed from the listing without further notice.</p>
<p>If we notice that an entire MUC service hosts mostly <em>out of scope</em> rooms, we may block rooms from the entire service from being listed.</p>
<h4 id="out-of-scope">Out of scope</h4>
<p>Rooms which willingly (see bolow) allows any of the following in their space are considered out of scope:</p>
<ul>
	<li>Any content where removal of the listing is required per law in Germany</li>
	<li>Harassment of individuals or groups</li>
	<li>Discrimination based on race, gender, sexual orientation, religion or other such attributes</li>
	<li>Gross misrepresentation of what the room is about in the listing</li>
	<li>Use of an avatar which depicts or endoress any of the above content (irrespective of whether the room is allowlisted for avatar use)</li>
</ul>
<p>By <em>willingly</em> in the above paragraph we mean that if a room admin is aware of the situation and does not act, if no room admin is generally available to handle such content or if the room admin team is continuously unable to handle such content. Specifically, rooms which are a victim of a spam or abuse campaign and which then do whatever possible to combat that do not automatically become <em>out of scope</em>.</p>
<h4>Report out of scope rooms</h4>
<p>If you have found a room which is out of scope listed, please <a href="{{ url_for("report_a_room") }}">report that room</a> so that we can quickly remove it.</p>
<h3>Privacy policy</h3>
<p>Please also observe our <a href="{{ url_for('privacy') }}">Privacy Policy</a>.</p>
{% endblock %}
