td.numeric {
    text-align: right;
}

abbr {
    font-variant: normal;
}

header > h1 > a {
    color: inherit;
}

header > h1 > a:hover,
header > h1 > a:focus,
header > h1 > a:active {
    background-color: transparent;
}

table.features {
    width: auto;
}

footer#footer-main {
    text-align: center;
}

footer#footer-main > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer#footer-main > ul > li {
    display: inline-block;
    margin: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
}

nav#nav-footer {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    background-color: #ddd;
    color: #333;
}

nav#nav-footer ul {
    list-style-type: none;
    margin: 0;
}

nav#nav-footer li {
    margin: 0;
    padding: 0;
}

nav#nav-footer > ul {
    display: flex;
    flex-wrap: wrap;
}

nav#nav-footer > ul > li {
    display: block;
    flex: 1 0 auto;
    max-width: 15em;
    margin: 1.5em;
}

nav#nav-footer > ul > li > ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

nav#nav-footer > ul > li > ul > li > a,
nav#nav-footer > ul > li > ul > li > span {
    display: block;
}

nav#nav-footer > ul > li > ul > li.active {
    font-weight: bold;
}

nav#nav-footer h6 {
    color: #111;
}

nav.pagination {
    background: transparent;
    margin: 1.5em;
}

nav.pagination > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav.pagination > ul > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 2em;
    text-align: center;
}

nav.pagination > ul > li.prev > a:before {
    content: '⟨ ';
}

nav.pagination > ul > li.next > a:after {
    content: ' ⟩';
}

nav.pagination > ul > li > a {
    display: block;
    margin: 0;
    padding: 0.5em;
}

nav.pagination > ul > li.current > a {
    display: block;
    font-weight: bold;
    color: inherit;
}

div.addr {
    font-size: 110%;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

span.localpart {
    font-weight: bold;
}

span.at {
    opacity: 0.5;
}

span.domain {
    opacity: 0.95;
}

span.name {
    font-weight: bold;
}

div.subtitle {
    font-style: italic;
    font-size: 110%;
    color: #dfdfdf;
}

table.roomlist > tbody > tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

table.roomlist td.nusers {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

table.roomlist th.nusers {
    width: auto;
}

table.roomlist th.addr-descr {
    width: 100%;
}

@media screen and ( max-width: 760px ) {
    td.nusers {
        width: auto;
    }
}

span.search-match {
    text-decoration: underline;
    color: #800;
    font-weight: bold;
}

.searchbox {
    padding: 0.5em;
    display: flex;
}

.searchbox-full {
    flex-direction: column;
}

.searchbox-full > div {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.searchbox input[type="text"] {
    flex: 1 0 auto;
    margin-right: 0.5em;
}

.searchbox input[type="submit"] {
    flex: 0 0 auto;
}

.searchbox input[type="checkbox"] {
    color: #ddd;
}

.searchbox label {
    color: #ddd;
    margin-left: 0.5em;
}

.searchbox-full div.ym-fbox-check {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

@media screen and ( max-width: 640px )  {
    .searchbox-full > div.search-scope {
        flex-direction: column;
    }

    .searchbox-full div.ym-fbox-check {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

span.language {
    margin-left: 1ex;
    font-style: italic;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

th > div.feature-id {
    font-weight: normal;
}

code {
    background: rgba(240, 240, 240, 0.8);
    padding: 0.2em;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    border: 1px solid rgba(220, 220, 220, 0.8);
    box-shadow: 0 0 1px rgba(220, 220, 220, 0.8);
}

pre > code {
    display: block;
}

ul.inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.inline > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.inline > li:before {
    content: '• ';
}

ul.inline > li:after {
    content: ', ';
}

ul.inline > li:last-child:after {
    content: '';
}

section.api-call {
    margin-bottom: 3em;
    margin-top: 3em;
}


.footnote-ref {
    vertical-align: super;
    font-size: 85%;
}

.footnotes > li:target {
    background: rgba(0, 0, 0, 0.2);
}


@media screen and ( max-width: 960px )  {
    /* linearization for grid module */
    .linearize-960, .linearize-960 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    /* reset defined gutter values */
    .linearize-960 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden; /* optional for containing floats */
        padding: 0;
        margin: 0;
    }
}

.stats-canvas-limit {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

div.dummy-avatar {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

div.dummy-avatar span::before {
    content: attr(data-avatar-content);
    flex: 0 0 auto;
    display: inline;
    color: white;
    font-size: 150%;
}

div.real-avatar {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.flush {
    clear: both;
}

ol.roomlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol.roomlist > li.roomcard {
    padding: 0.75em;
    margin: 0;
    display: flex;
}

ol.roomlist > li.roomcard:hover {
    background: rgba(0, 0, 0, 0.1);
}

.roomcard > div.avatar {
    flex: 0 0 auto;
    break-before: avoid;
    break-after: avoid;
    margin-right: 0.5em;
}

div.avatar {
    width: 2.8em;
    height: 2.8em;
    margin: 0.1em;
    /* border-radius: 1.4em; */
    border-radius: 0.2em;
    overflow: hidden;
}

div.avatar > img {
    max-width: 100%;
    max-height: 100%;
}

.roomcard > div.main > div.avatar {
    float: left;
    display: none;
}

.roomcard > div.main {
    flex: 1 1 auto;
}

.roomcard > div.meta {
    flex: 0 0 content;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    margin-left: 1.5em;
}


@media screen and ( max-width: 640px )  {
    ol.roomlist > li.roomcard {
        padding-left: 0;
        padding-right: 0;
        display: block;
    }

    .roomcard > div.avatar {
        display: none;
    }

    .roomcard > div.main {
        padding-left: 3.5em;
    }

    .roomcard > div.main > div.avatar {
        display: block;
        margin-left: -3.5em;
    }

    .roomcard > div.meta {
        padding-left: 3.5em;
        margin-left: 0;
    }
}

.copy-to-clipboard {
    display: inline;
    visibility: hidden;
    cursor: pointer;
    margin-left: 0.5em;
}

.roomcard:hover .copy-to-clipboard,
.roomcard:focus-within .copy-to-clipboard,
a:focus + .copy-to-clipboard,
.copy-to-clipboard:focus {
    display: inline;
    visibility: visible;
}

.a11y-text {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: -100px;
}

.icon-history::after {
    content: '📜';
}

.icon-join::after {
    content: '💬';
}

.icon-copy::after {
    content: '📋';
}

.icon-nonanon::after {
    content: '⏿';
}

.icon-closed::after {
    content: '🔒';
}

.with-tooltip {
    cursor: help;
}
