td.numeric {
    text-align: right;
}

abbr {
    font-variant: normal;
}

header > h1 > a {
    color: inherit;
}

header > h1 > a:hover,
header > h1 > a:focus,
header > h1 > a:active {
    background-color: transparent;
}

table.features {
    width: auto;
}

footer#footer-main {
    text-align: center;
}

footer#footer-main > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer#footer-main > ul > li {
    display: inline-block;
    margin: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
}

nav#nav-footer {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    background-color: #ddd;
    color: #333;
}

nav#nav-footer ul {
    list-style-type: none;
    margin: 0;
}

nav#nav-footer li {
    margin: 0;
    padding: 0;
}

nav#nav-footer > ul {
    display: flex;
    flex-wrap: wrap;
}

nav#nav-footer > ul > li {
    display: block;
    flex: 1 0 auto;
    max-width: 15em;
    margin: 1.5em;
}

nav#nav-footer > ul > li > ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

nav#nav-footer > ul > li > ul > li > a,
nav#nav-footer > ul > li > ul > li > span {
    display: block;
}

nav#nav-footer > ul > li > ul > li.active {
    font-weight: bold;
}

nav#nav-footer h6 {
    color: #111;
}

nav.pagination {
    background: transparent;
    margin: 1.5em;
}

nav.pagination > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav.pagination > ul > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 2em;
    text-align: center;
}

nav.pagination > ul > li.prev > a:before {
    content: '⟨ ';
}

nav.pagination > ul > li.next > a:after {
    content: ' ⟩';
}

nav.pagination > ul > li > a {
    display: block;
    margin: 0;
    padding: 0.5em;
}

nav.pagination > ul > li.current > a {
    display: block;
    font-weight: bold;
    color: inherit;
}

div.addr {
    font-size: 110%;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

span.localpart {
    font-weight: bold;
}

span.at {
    opacity: 0.5;
}

span.domain {
    opacity: 0.95;
}

span.name {
    font-weight: bold;
}

div.subtitle {
    font-style: italic;
    font-size: 110%;
    color: #dfdfdf;
}

table.roomlist > tbody > tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

table.roomlist td.nusers {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

table.roomlist th.nusers {
    width: auto;
}

table.roomlist th.addr-descr {
    width: 100%;
}

@media screen and ( max-width: 760px ) {
    td.nusers {
        width: auto;
    }

    span.name {
        display: block;
    }

    span.address-suffix,
    span.address {
        display: block;
    }
}

span.search-match {
    text-decoration: underline;
    color: #800;
    font-weight: bold;
}

.searchbox {
    padding: 0.5em;
    display: flex;
}

.searchbox > input[type="text"] {
    flex: 1 0 auto;
    margin-right: 0.5em;
}

.searchbox > input[type="submit"] {
    flex: 0 0 auto;
}

/* span.language:before {
    content: '[';
    font-style: normal;
}

span.language:after {
    content: ']';
    font-style: normal;
} */

span.language {
    margin-left: 1ex;
    font-style: italic;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

th > div.feature-id {
    font-weight: normal;
}

code {
    background: rgba(240, 240, 240, 0.8);
    padding: 0.2em;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    border: 1px solid rgba(220, 220, 220, 0.8);
    box-shadow: 0 0 1px rgba(220, 220, 220, 0.8);
}

pre > code {
    display: block;
}

ul.inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.inline > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.inline > li:before {
    content: '• ';
}

ul.inline > li:after {
    content: ', ';
}

ul.inline > li:last-child:after {
    content: '';
}

section.api-call {
    margin-bottom: 3em;
    margin-top: 3em;
}


.footnote-ref {
    vertical-align: super;
    font-size: 85%;
}

.footnotes > li:target {
    background: rgba(0, 0, 0, 0.2);
}


@media screen and ( max-width: 960px )  {
    /* linearization for grid module */
    .linearize-960, .linearize-960 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    /* reset defined gutter values */
    .linearize-960 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden; /* optional for containing floats */
        padding: 0;
        margin: 0;
    }
}

.stats-canvas-limit {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

div.dummy-avatar {
    width: 2.8em;
    height: 2.8em;
    margin: 0.1em;
    margin-right: 0.5em;
    border-radius: 1.4em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dummy-avatar span::before {
    content: attr(data-avatar-content);
    flex: 0 0 auto;
    display: inline;
    color: white;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 150%;
}
